@font-face {
	font-family: 'outfit';
	src: url(outfit-variablefont_wght-webfont.woff) format('woff');
}

/* Navbar */

 .navbar-brand {
	font-family: Viga;
	font-size: 32px;
}

 .navbar {
   	background-color: white !important;
}

/* Jumbotron */

.jumbotron {
   background-color: white;	
   height: 640px;
}

.jumbotron h1 {
   margin-top: 190px !important;
   font-weight: bold;
}

.jumbotron p {
	color: grey;
}

.col-gambar {
	position: static;
	flex-basis: 60%;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: -20px;
	opacity: 0;
}


.jumbotron span {
    font-size: 25px;
    letter-spacing: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: dodgerblue;
}	

/* Fitur */

.fitur {
	margin-top: -100px;
}

.fitur h1 {
    margin-top: 150px;
    font-size: 35px;
    font-weight: 100px;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
}

.fitur .imgFitur {
    display: flex;
    justify-content: center;
    margin: 50px 0 75px 0;
}

.fitur .imgFitur img {
    width: 10%;
    margin: 15px 30px;
}

.fitur span {
	color: dodgerblue;
    font-weight: bold;
}
 



/* About */

.about {
	margin-bottom: 100px;
	margin-top: 50px;
	background-color: whitesmoke;
}

.about div h2 {
   margin-top: 40px;
   font-size: 35px;
   font-weight: 100px;
   text-align: center;
   text-transform: capitalize;
}

.about hr {
   width: 250px;
   border-top: 4px solid dodgerblue;
   border-radius: 20px;
}

.artikel {
	margin-bottom: 100px;
	color: black;
}

.about p {
	text-align: center;
	font-size: 17px;
}


/* Tambahan */

.carousel-slide {
	margin-top: -30px;
	background-color: dodgerblue;
}

.bordered {
	border: solid white;
}




/* K3 */

.k3 {
	margin-top: -270px;
}

.k3 img {
	width: 500px;
	height: 300px;
	margin-top: 200px;
}

.k3 h3 {
	margin-top: 40px;
	font-size: 35px;
	font-weight: 100px;
	text-align: center;
	text-transform: capitalize;
}

.k3 p  {
	text-align: center;
	font-size: 17px;
	font-size: 15px;
}

.k3-botom {

}


h3 span {
	color: dodgerblue;
    font-weight: bold;
}

/* Footer */

.footer {
	margin-top: 100px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    box-shadow: .5rem 0 1rem rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box {
    flex: 1 1 15rem;
    margin: 1rem;
}

.footer .box h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #302f2f;
    padding: 1rem 0;
}

.footer .box p {
    font-size: 1rem;
    color: #302f2f;
    padding: .5rem 0;
    line-height: 25px;
    margin-bottom: 30px;
}

.footer .box .sosmed {
    display: flex;
}


.footer .box .sosmed .perSosmed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    font-size: 1.5rem;
    margin: 0 10px;
    border-radius: 50%;
    background-color: lightgrey;
}

.footer .box .sosmed .perSosmed:hover {
    background-color: dodgerblue;
}


.footer .box a {
    font-size: 1rem;
    color: #000;
    padding: .5rem 0;
    display: flex;
}

.footer .box a:hover {
    color: white;
    text-decoration: none;
}







/* Footer end */

footer {
	width: 100%;
	height: 80px;
	background-color: dodgerblue;
	position: absolute;
}

footer p {
    color: #333;
    font-size: 15px;
    padding-top: 25px;
    margin-top: 10px;
}

footer p a {
	color: white;
}

footer p a:hover {
	text-decoration: none;
	color: black;
}

.about div p {
    font-size: 15px;
    font-family: sans-serif;
}














/*Button, link sosmed atas/bawah*/

.button {
	text-transform: uppercase;
	border-radius: 30px;
	background-color: dodgerblue !important;
	border: 3px solid dodgerblue;
}

.button:hover {
	border: 3px solid lightblue;
}



li {
	display: inline;
}

ul a {
	padding: 3px;
	margin-top: 50px;
	display: inline-block;
	color: black;
}

ul a:hover {
	color: dodgerblue;
	text-decoration: none;
}

/* Dekstop Only */

@media (min-width: 992px) {

   .jumbotron h1 {
        margin-top: 240px !important;
   }

   ul a {
   	  margin-left: -10px;
   }

   .nav-link {
   	margin-right: 20px;
   }

   .nav-link:hover:after {
	    content: '';
	    display: block;
	    border-bottom: 3px solid dodgerblue;
	    width: 50%;
	    margin: auto;
	    padding-bottom: 5px;
	    margin-bottom: -8px;
   }

   .fitur {
   	    margin-top: -50px !important;
   }


   .fitur .imgFitur img {
        width: 7%;
        margin: 15px 40px;
   }

   .col-gambar .gambar {
		width: 750px;
		height: 550;
		margin-left: -50px;
		margin-top: -20px;
	 	background-attachment: fixed;
   }	

   .col-gambar {
	  	margin-top: 30px;
	  	opacity: 1;
   }


   .about {
  	    margin-top: 50px;
   }

   .k3 {
     	margin-top: -50px;
   }

   .k3 img {
		width: 500px;
		height: 300px;
		margin-top: -1px;
   }

   .k3 h3 {
	    margin-top: -0,5px;
	    font-size: 40px;
	    font-weight: 200px;
   } 

   .k3 h3 {
     	text-align: left;
   }
  
   .k3 p {
		text-align: left;
		font-size: 17px;
   }

   .k3-botom {
    	margin-top: -120px;
        margin-left: -80px !important;
        display: flex;
   }
} 

@media (min-width: 450px) {
	ul a {
		margin-right: 30px;
	}

	.fitur {
		margin-top: -100px;
	}

}